 <% provide(:title, "Contact Us") %>

 <h1>Contact Us</h1>
 <p>
 	This page is used to generate a form so that users can leave feedback! Although this doesn't even do that right now. But it does have tests!
 </p>